%h1 Sombrero Pirata para asignación de tareas
%form{method: 'post', action: '/tareas/asignar'}
  %input{type: 'text', name: 'responsable[email]', placeholder: 'Responsable'}
  %input.btn.btn-primary{type: 'submit', value: 'Asignar tarea'}
%form{method: 'post', action: '/tareas/new'}
  %input{type: 'text', name: 'tarea[asunto]', placeholder: 'Tarea'}
  %input.datepicker{type: 'text', name: 'tarea[vencimiento]',
                    placeholder: 'vencimiento'} 
  %input.btn.btn-primary{type: 'submit', value: 'Agregar Tarea'}
%table.table
  %thead
    %tr
      %th Tarea
      %th Responsable
      %th Estado
      %th Fecha creación
      %th Fecha vencimiento
  %tbody
    -@tareas.each do |tarea|
      %tr
        %td= tarea.asunto
        %td= tarea.responsable
        %td= tarea.estado
        %td= tarea.created_at
        %td= tarea.vencimiento
