%h1 Sombrero Pirata para asignación de tareas
.row
  .col-md-6
    %h2 Crear una tarea
    %form{method: 'post', action: '/tareas/new'}
      %input{type: 'text', name: 'tarea[asunto]', placeholder: 'Tarea'}
      %input{type: 'text', name: 'grupo[nombre]', placeholder: 'Grupo'}
      %input.datepicker{type: 'text', name: 'tarea[vencimiento]',
        placeholder: 'vencimiento'} 
      %input.btn.btn-primary{type: 'submit', value: 'Agregar Tarea'}
  .col-md-6
    %h2 Asignar una tarea
    %form{method: 'post', action: '/tareas/asignar'}
      %input{type: 'text', name: 'responsable[email]', placeholder: 'Responsable'}
      %input.btn.btn-primary{type: 'submit', value: 'Asignar tarea'}
.row
  %p.pull-right
    Filtros (click para remover)
    %a.btn.btn-success.btn-xs{href: '/'}
      &times;
      todos
    - %w(responsable grupo).each do |filtro|
      - next if instance_variable_get('@' + filtro).nil?
      %a.btn.btn-info.btn-xs{href: '/?'+URI.encode_www_form(params.reject { |f| f == filtro })}
        &times;
        = filtro
        \=
        = params[filtro]
%table.table
  %thead
    %tr
      %th Tarea
      %th Responsable
      %th Estado
      %th Grupo
      %th Fecha creación
      %th Fecha vencimiento
  %tbody
    -@tareas.each do |tarea|
      %tr
        %td= tarea.asunto
        %td= tarea.responsable
        %td= tarea.estado
        %td
          %a{href: "/?grupo=#{tarea.grupo.nombre}"}=tarea.grupo.nombre
        %td= tarea.created_at
        %td= tarea.vencimiento
